/*
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <freq.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

#include <raspberrypi/rpi_pico/rp2040.dtsi>
#include "mechaship_rp2040-pinctrl.dtsi"

/ {
	model = "Mechaship RP2040 Mainboard";
	compatible = "mechaship,mechaship-rp2040";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &ssi;
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,code-partition = &code_partition;
	};

	aliases {
		rtc = &rtc;
		watchdog0 = &wdt0;
	};

	leds {
		compatible = "gpio-leds";

		status_led: status_led {
			gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
		};

		ros_mode_led: ros_mode_led {
			gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
		};

		rc_mode_led: rc_mode_led {
			gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
		};

		fault_led: fault_led {
			gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		};
	};

	pwms {
		compatible = "pwm-leds";
		status = "okay";

		buzzer_pwm: buzzer_pwm {
			pwms = <&pwm 1 PWM_HZ(1000) PWM_POLARITY_NORMAL>;
		};
	};

	power_ctrl: power_ctrl {
		compatible = "mechaship,power-ctrl";
		
		main-en-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
		sbc-en-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
		act-en-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
		switch-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
	};

	actuators: actuators {
		compatible = "mechaship,actuators";

		key: key {
			compatible = "mechaship,actuator-key";

			pwms = <&pwm 6 PWM_HZ(50) PWM_POLARITY_NORMAL>;
			pulse-0-degree-us = <500>;
			pulse-180-degree-us = <2500>;
		};

		thruster: thruster {
			compatible = "mechaship,actuator-thruster";

			pwms = <&pwm 7 PWM_HZ(50) PWM_POLARITY_NORMAL>;
			pulse-0-percent-us = <1500>;
			pulse-100-percent-us = <1900>;
		};
	};

	rc_4ch_receiver: rc_4ch_receiver {
		compatible = "mechaship,fs-r4p-rp2040";
		status = "okay";
		pio = <&pio1>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
			function = "steering";
			input-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;

			min-pulse-us = <905>;
			mid-pulse-us = <1500>;
			max-pulse-us = <2095>;
			pulse-margin-us = <5>;
		};

		channel@1 {
			reg = <1>;
			function = "throttle";
			input-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;

			min-pulse-us = <1020>;
			mid-pulse-us = <1500>;
			max-pulse-us = <1980>;
			pulse-margin-us = <5>;
		};

		channel@2 {
			reg = <2>;
			function = "aux1";
			input-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;

			min-pulse-us = <1000>;
			mid-pulse-us = <1500>;
			max-pulse-us = <2000>;
			pulse-margin-us = <10>;
		};

		channel@3 {
			reg = <3>;
			function = "switch";
			input-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;

			default-pulse-us = <1000>;
			clicked-pulse-us = <2000>;
			pulse-margin-us = <20>;
		};
	};

	zephyr,user {
		debug-uart = <&uart1>;
		debug-baudrate = <115200>;

		led-fault-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;

		emo-switch-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;

		shift-latch-gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
		shift-clk-gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
		shift-data-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;

		lcd-i2c = <&i2c1>;
		lcd-addr = <0x27>;

		io-channels = <&adc 3>;
		battery-cell-count = <3>;
		battery-total-low-alert-mv = <9300>;
		battery-divider-milli = <4300>;

		rgbw-led-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		rgbw-led-pixel-count = <9>;


	};

};

&flash0 {
	reg = <0x10000000 DT_SIZE_M(16)>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		second_stage_bootloader: partition@0 {
			label = "second_stage_bootloader";
			reg = <0x00000000 0x100>;
			read-only;
		};

		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 (DT_SIZE_M(16) - 0x100)>;
			read-only;
		};
	};
};

&uart0 {
	status = "disabled";
};

&uart1 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
};

&spi0 {
	status = "disabled";
};

&timer {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&rtc {
	clocks = <&clocks RPI_PICO_CLKID_CLK_RTC>;
	status = "okay";
};

&adc {
	status = "okay";
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

zephyr_udc0: &usbd {
	status = "okay";
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm_default>;
	pinctrl-names = "default";
};

&vreg {
	regulator-always-on;
	regulator-allowed-modes = <REGULATOR_RPI_PICO_MODE_NORMAL>;
};

&pio1 {
	status = "okay";
};
